.boxx-container{
    width: 50%;
    /* border: 1px solid gold; */
    display: flex;
    /* align-items: center; */
    /* margin: 0 auto; */
    margin-bottom: 20px;
    padding: 20px;
}

@media screen and (max-width: 570px) {
    .boxx-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        /* border: 1px solid black; */
    }
    
    
}