.logout-btn{
    border: none;
    background-color: orangered;
    margin-left: 30px;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

a{
    text-decoration: none;
    margin-left: 30px;
}